DB_URL=jdbc:postgresql://localhost:5434/your_db_name
DB_USERNAME=your_username
DB_PASSWORD=your_password
REDIS_HOST=localhost
REDIS_PORT=6380
MAIL_HOST=localhost
MAIL_PORT=1026
KEYCLOAK_ISSUER_URI=http://localhost:8181/realms/edusaas-dev
KEYCLOAK_JWK_URI=http://localhost:8181/realms/edusaas-dev/protocol/openid-connect/certs